<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> <!-- stylesheet is searched for by server, searches in "css" folder -->
    <title>My Great Page</title>
</head>
<body>
    <h1>My great Page</h1>
    <p>Welcome to my great page.</p>
    <p>This page has been visited %%%VISIT%%% times</p>
    <p>
        <a href="/random">Click here</a> to get a new random name
    </p>
    %%%NAMEFORM%%%
</body>
</html>