<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> <!-- stylesheet is searched for by server, searches in "css" folder -->
    <title>My Great Page</title>
</head>
<body>
    <h1>Random name Generator</h1>
    <button onClick="window.location.assign('/')">Go back</button>
    <p>Generate random name.</p>
    <p>%%%NAME%%%</p>
    <button onClick="window.location.reload();">Another One!</button></body>
</html>